body{
  background-image: url(https://image.freepik.com/free-vector/vibrant-pink-watercolor-painting-background_53876-58930.jpg);
  background-size: 100% auto;
  position: sticky;
  margin: 0 auto;
  width: 30%;
  padding-top: 4em;
}

#title{
  text-align: center;
  padding-top: 10px;
  padding-left: 50px;
  font-family: Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: PaleVioletRed;
  padding-bottom: .6em;
}

#body{
  border-style: inset;
  border: 5px solid steelblue;
  border-radius: 15px 15px 15px 15px;
}

#first_name, #last_name,#email,#phone,#date_of_birth{
  padding-bottom: .3em;
  font-family: Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: PaleVioletRed;
}

input[type=text]{
  width: 340px;
  height:40px;
  margin: 8px 0;
  border-radius: 15px 15px 15px 15px;
  background-color: Azure;
  border: solid steelblue;
  font-size: 0.6em;
  font-family: Arial, sans-serif;
}

input[type=email]{
  width: 340px;
  height:40px;
  margin: 8px 0;
  border-radius: 15px 15px 15px 15px;
  background-color: Azure;
  border: solid steelblue;
  font-size: 0.6em;
  font-family: Arial, sans-serif;
}

input::placeholder{
  color: lightblue;
  font-size: 0.8em;
  font-style: italic;
}

input[type=tel]{
  width: 340px;
  height:40px;
  margin: 8px 0;
  border-radius: 15px 15px 15px 15px;
  background-color: Azure;
  border: solid steelblue;
  font-size: 0.6em;
  font-family: Arial, sans-serif;
}

input[type=submit] {
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 23px;
  margin: 20px 120px;
  background-color: steelblue;
  border-radius: 15px 15px 15px 15px;
  color: Azure;
  border: 2px solid steelblue;
  font-family: Arial, sans-serif;
}

input[type=submit]:hover {
  background-color: PaleVioletRed;
  color: Azure;
}

@media only screen and (min-width: 320px) {
  body{
    background-image: url(https://image.freepik.com/free-vector/vibrant-pink-watercolor-painting-background_53876-58930.jpg);
    background-size: 100% auto;
    background-size: 1200px 800px;
    position: sticky;
  }

  #title{
    text-align: center;
    padding-top: 10px;
    padding-left: 150px;
    font-family: Arial, sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: PaleVioletRed;
    padding-bottom: .6em;
  }

  #body{
    border-style: inset;
    border: 5px solid steelblue;
    border-radius: 15px 15px 15px 15px;
    height: 510px;
    width: 400px;
  }

  #first_name, #last_name,#email,#phone,#date_of_birth{
    padding-bottom: .3em;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: PaleVioletRed;
  }

  input[type=text]{
    width: 340px;
    height:40px;
    margin: 8px 0;
    border-radius: 15px 15px 15px 15px;
    background-color: Azure;
    border: solid steelblue;
    font-size: 0.5em;
    font-family: Arial, sans-serif;
  }

  input[type=email]{
    width: 340px;
    height:40px;
    margin: 8px 0;
    border-radius: 15px 15px 15px 15px;
    background-color: Azure;
    border: solid steelblue;
    font-size: 0.5em;
    font-family: Arial, sans-serif;
  }

  input::placeholder{
    color: lightblue;
    font-size: 0.8em;
    font-style: italic;
  }

  input[type=tel]{
    width: 340px;
    height:40px;
    margin: 8px 0;
    border-radius: 15px 15px 15px 15px;
    background-color: Azure;
    border: solid steelblue;
    font-size: 0.5em;
    font-family: Arial, sans-serif;
  }

  input[type=submit] {
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 23px;
    margin: 20px 120px;
    background-color: steelblue;
    border-radius: 15px 15px 15px 15px;
    color: Azure;
    border: 2px solid steelblue;
    font-family: Arial, sans-serif;
  }

  input[type=submit]:hover {
    background-color: PaleVioletRed;
    color: Azure;
  }
}
@media only screen and (min-width: 768px) {
  body{
    background-image: url(https://image.freepik.com/free-vector/vibrant-pink-watercolor-painting-background_53876-58930.jpg);
    background-size: 100% auto;
    position: sticky;
    margin: 0 auto;
    width: 30%;
    padding-top: 4em;
  }

  #title{
    text-align: center;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 30px;
    font-family: Arial, sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: PaleVioletRed;
    padding-bottom: .6em;
  }

  #body{
    border-style: inset;
    border: 5px solid steelblue;
    border-radius: 15px 15px 15px 15px;
    height: 550px;
    width: 430px
  }

  #first_name, #last_name,#email,#phone,#date_of_birth{
    padding-bottom: .3em;
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: PaleVioletRed;
  }

  input[type=text]{
    width: 340px;
    height:40px;
    margin: 8px 0;
    border-radius: 15px 15px 15px 15px;
    background-color: Azure;
    border: solid steelblue;
    font-size: 0.6em;
    font-family: Arial, sans-serif;
  }

  input[type=email]{
    width: 340px;
    height:40px;
    margin: 8px 0;
    border-radius: 15px 15px 15px 15px;
    background-color: Azure;
    border: solid steelblue;
    font-size: 0.6em;
    font-family: Arial, sans-serif;
  }

  input::placeholder{
    color: lightblue;
    font-size: 0.8em;
    font-style: italic;
  }

  input[type=tel]{
    width: 340px;
    height:40px;
    margin: 8px 0;
    border-radius: 15px 15px 15px 15px;
    background-color: Azure;
    border: solid steelblue;
    font-size: 0.6em;
    font-family: Arial, sans-serif;
  }

  input[type=submit] {

    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 23px;
    margin: 20px 130px;
    background-color: steelblue;
    border-radius: 15px 15px 15px 15px;
    color: Azure;
    border: 2px solid steelblue;
    font-family: Arial, sans-serif;
  }

  input[type=submit]:hover {
    background-color: PaleVioletRed;
    color: Azure;
  }
}
